.background-color {
    background-color: #22252A;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #22252A;
    margin-top: 1rem;
    margin-bottom: 1rem;



}

.cetracy-logo {
    height: 60px;
}




.container2 {
    display: flex;
    justify-content: center;
    background-color: #22252A;
}

.container-port {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 2.5%;
    margin-top: 5%;

}

.container-landing {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.container-landing img {
    display: flex;
    justify-content: center;
    height: 150px;
    margin-top: 5%;
    transition: all 0.3s ease-in-out;
}

.container-landing img:hover {
    transform: scale(1.1);

}

.container-port img {
    height: 150px;
    margin-bottom: 30%;
    transition: all 0.3s ease-in-out;

}

.container-port img:hover {

    transform: scale(1.1);
}

.button1 {
    color: #5d6470;
    background-color: #22252A;
    border: none;
    transition: all 0.3s ease-in-out;
}

.button1:hover {
    color: #6EFADC;
    background-color: #181a1d;
    border-radius: 8px;
    padding-left: 7rem;
    padding-right: 7rem;

}

.card-title {
    display: flex;
    justify-content: center;
    color: #6EFADC;
}

p {
    color: #6EFADC;
}


#click-here {
    color: #5d6470;
    display: flex;
    justify-content: center;
}


#bebas-neue {
    font-family: 'Bebas Neue', sans-serif;    display: flex;
}


.separator {
    width: 90%;
    height: 1px;
    background-color: white;
    border: none;
    margin: 10px 0;
    margin-top: 0%;
    margin-left: 5%;

}

.card-group {
    margin-top: 10rem;
}

.card {

    background-color: #181a1d;
    margin: 20px;
    transition: all 0.3s ease-in-out;

}

.card:hover {
    transform: scale(1.1);
    
}

footer {

    margin-top: 8%;


}




@media (max-width: 720px) {
    .container-port {
        flex-direction: column;
        height: 100%;
    }
}